<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
body{
    	    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
	}
	.li1 {
	    float: left;
	}

	.li-a {
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}

	.li-a:hover:not(.active) {
	    background-color: #111;
	}
</style>
</head>
<body>
<ul style="font-family:sans-serif;list-style-type:none;margin:0;padding:0;overflow:hidden;background-color:#00264d;font-size:16px;">
  <li class="li1"><a class="li-a" href="#home">Home</a></li>
  <li class="li1"><a class="li-a" href="#contact">Contact</a></li>
  <li class="li1"><a class="li-a" href="#about">About</a></li>
</ul>
<form method="POST" action="" style="width: 92%; margin-left:4%;margin-top:10%;border:20px solid white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 15px;">
  <div class="form-row" style="background-color: white;padding-right: -10%;">
    <div class="col-md-4 mb-3">
      <label for="validationDefaultUsername">Student No.</label>
      <div class="input-group">
        <input type="text" class="form-control" id="validationDefaultUsername" placeholder="{{no}}" aria-describedby="inputGroupPrepend2" disabled>
      </div>
    </div>
    <div class="col-md-4 mb-3" style="margin-left:-13%;">
      <label for="validationDefault04">Sum Paid</label>
      <input type="text" class="form-control" id="validationDefault01" placeholder="{{paid}}" disabled>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault04">Total to be paid</label>
      <input type="text" class="form-control" id="validationDefault02" placeholder="{{topay}}" disabled>
    </div>
  </div>
  <div class="form-row" style="background-color: white; padding; 10px;">
    <div class="col-md-6 mb-3" style="padding-top: 3px;">
      <label for="validationDefault03">Confirmation Code</label>
      <input type="text" name="confirm" class="form-control" id="validationDefault03" placeholder="Bank Code" required>
    </div>
    <div class="col-md-3 mb-3" style="padding-top: 3px;">
      <label for="validationDefault04">Amount</label>
      <input type="text" name="paid" class="form-control" id="validationDefault04" placeholder="Amount in TL" required>
    </div>
  <div class="form-row">
  <button class="btn btn-primary" type="submit" style="margin-top: 130px; margin-left: -86%;">Submit</button>
  </div>
</form>
</body>
</html>
