<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8"><fieldset style="border:0px;"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font.css') }}">
<!--===============================================================================================-->

</head>
<body style="background-image:url({{url_for('static', filename='back.jpg')}});">
<ul style="border-radius: 10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <li><a class="active;" style="background-color:#f2ab29;" href="{{url_for('home')}}">Home</a></li>
  <li><a href="mailto:alin.banka@gmail.com">Contact</a></li>
  <li><a href="https://www.facebook.com/alin.banka">About</a></li>
</ul>
  <div class="form" style="border-radius: 5px;background: rgba(255,255,255,0.85); width:30%; margin-left: 35%;">
    <form class="login-form" style="height:200px;" method="POST" action="">
      <fieldset style="border:0px;"> 
      <input name="username" type="text" placeholder="username" required>
      <input name="password" type="password" placeholder="password" required>
	  <div style="margin-bottom:10px;">
		  <p class="message" style="display:inline;">I am a:   
			  <select name="opt" style="width:150px;">
			  <option value="student">Student</option>
			  <option value="teacher">Teacher</option>
			  </select>
		  </p>
	  </div>
      <button>LOGIN</button>
      </fieldset>
      <p class="message" style="margin-top:-5px;">Not registered? <a href="{{ url_for('register') }}">Create an account</a></p>
    </form>
  </div>
</body>
</html>
