<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/font.css">
<!--===============================================================================================-->
<script>
function validateForm() {
  var x = document.forms["myForm"]["password"].value;
  var y = document.forms["myForm"]["confirm"].value;
  if (x != y) {
    alert("Password and confirmation do not match!");
    return false;
  }
  if(x.length <= 6){
	alert("Password length is too short!");
    return false;
  }
}
</script>
</head>
<body style="background: -webkit-linear-gradient(left, #3931af, #00c6ff);">
<ul style="border-radius: 10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <li><a class="active" href="{{url_for('home')}}">Home</a></li>
  <li><a href="mailto:alin.banka@gmail.com">Contact</a></li>
  <li><a href="https://www.facebook.com/alin.banka">About</a></li>
</ul>
{% block content %}{% endblock %}
</body>
</html>
