{% extends "layout.html" %}
{% block title %}Update{% endblock %}
{% block content %}
    <div class="form" style="margin-left:37%;padding-left:20px;padding-top:30px;padding-bottom:30px;">
        <form style="border:white;" method="POST" action="" >
		<fieldset style="border:0px;">     
                <p>code</p> 		  
		<input name="username" type="text" placeholder="username"/>
		<input name="password" type="password" placeholder="password"/>
		<input name="confirm" type="password" placeholder="confirm"/>
		<input name="name" type="text" placeholder="name"/>
		<input name="surname" type="text" placeholder="surname"/>
		<button>UPDATE</button>
		</fieldset>
        </form>
    </div>
{% endblock %}
