{% extends "layout.html" %}
{% block title %}Update{% endblock %}
{% block content %}
    <div class="form" style="margin-left:37%;padding-left:20px;padding-top:30px;padding-bottom:30px;">
        <form style="border:white;" method="POST" action="" >
		<fieldset style="border:0px;">     
                <p class="message">{{st}}</p> 		  
		<input name="username" type="text" placeholder="username" required>
		<input name="password" type="password" placeholder="password" required>
		<input name="confirm" type="password" placeholder="confirm" required>
		<input name="name" type="text" placeholder="name" required>
		<input name="surname" type="text" placeholder="surname" required>
		<button>UPDATE</button>
		</fieldset>
        </form>
    </div>
{% endblock %}
